
@{
    ViewBag.Title = "billspage";
}

<h2>billspage</h2>

<table id="billstab" class="mdl-data-table" style="width:100%">
    <thead>
        <tr>
            <th>billid</th>
            <th>ordername</th>
            <th>orderid</th>
            <th>username</th>
            <th>userid</th>

        </tr>
    </thead>
</table>

<hr />

<table id="tabdata" class="mdl-data-table" style="width:100%">
    <thead>
        <tr>
            <th>orderid</th>
            <th>ordername</th>
            <th>Zipcode</th>
            <th>address</th>
            <th>userid</th>
        </tr>
    </thead>
</table>
<link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css" rel="stylesheet" /> @*material design*@
<link href="https://cdn.datatables.net/1.10.16/css/dataTables.material.min.css" rel="stylesheet" />

@section scripts{



    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>    @*material design*@
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.material.min.js"></script>

    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>*@
    <script>

        $(document).ready(function () {
            $('#billstab').DataTable(
                {
                    "ajax": {
                        "url": "billslist",
                        "type": "Get",
                        "datatype": "json"
                    },
                    "columns": [
                        { "data": "billid" },
                        { "data": "ordername" },
                        { "data": "orderid" },
                        { "data": "username" },
                        { "data": "userid" }
                    ]
                });


        });


        $(document).ready(function () {
            $('#tabdata').DataTable(
                {
                        "ajax": {
                            "url": "orderslist",
                            "type": "Get",
                            "datatype": "json"
                        },
                        "columns": [
                            { "data": "orderid" },
                            { "data": "ordername" },
                            { "data": "Zipcode" },
                            { "data": "address" },
                            { "data": "userid" }
                        ]
                });


        });

    </script>
}

